@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(25, 21, 21);
  color: whitesmoke;
}
#welcome {
  margin-top: 20vh;
  margin-left: auto;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
}
.button {
  /* width: 50vw; */
  font-size: 22px;
  padding: 20px;
  background-color: white;
  opacity: 70%;
  color: rgb(25, 21, 21);
  border: 1px solid rgb(25, 21, 21);
  border-radius: 15px;
}
button:hover {
  background-color: rgb(25, 21, 21);
  color: white;
  border: 0.7px solid white;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100vw;
    max-height: 90vh;
  }
  #welcome {
    font-size: 15px;
    padding: 1vw;
    margin-top: 25vh;
  }
  #logo {
    width: 280px;
  }
}
