@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  /* background: #343541; */
  background-color: rgb(25, 21, 21);
}
#benvenuto {
  margin: auto;
  font-weight: lighter;
  text-align: center;
  font-size: 40px;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(25, 21, 21);
  /* background-image: linear-gradient(132deg, white 0%, #e6d38c 50%, #d7ba28 90%); */

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;

  padding: 40px;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 80vw;
  padding: 15px;
}

.ai {
  background: white;
  color: rgb(25, 21, 21);
  opacity: 60%;
  padding: 20px;
  width: 85vw;
}

.chat {
  width: 85vw;
  margin: 0 auto;
  padding-left: 15vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 5px;

  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background-color: rgb(25, 21, 21);
  /* background-image: linear-gradient(
    132deg,
    #000000 0%,
    #887619 50%,
    #ffcf2d 100%
  ); */
  border: 2px solid white;
}

.profile img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.message {
  flex: 1;
  font-size: 15px;

  width: 100vw;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  width: 50vw;
  margin-left: 32.5vw;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 2.5vw;
  bottom: 0;
  box-sizing: border-box;
}

textarea {
  width: 100vw;
  resize: none;
  color: white;
  font-size: 15px;
  background-color: transparent;
  opacity: 85%;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
  border: none;
  outline: none;
}
::placeholder {
  color: white;
  opacity: 80%;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  margin-top: 5px;
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 600px) {
  #app {
    max-height: 90vh;
    max-width: 100vw;
  }
  textarea {
    font-size: 15px;
  }
  form {
    /* border: 1px solid white; */
    /* margin-left: 10vw;
    margin-right: 10vw; */

    width: 65vw;
    /* max-width: 600px; */
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    margin-bottom: 10vw;
    box-shadow: 0 -4px 6spx rgba(0, 0, 0, 0.5);
  }
  form img {
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
  }
  ::placeholder {
    font-size: 14px;
  }
  .message {
    flex: 1;

    font-size: 18px;
    margin-left: 32.5vw;
    width: 45vw;
    overflow-x: scroll;

    /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
    white-space: pre-wrap;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .chat {
    max-width: 100vw;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
  #chat_container {
    flex: 1;
    width: 80vw;
    max-height: 100vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 10px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    padding-bottom: 20px;
    scroll-behavior: smooth;

    padding: 25px;
  }
  #logo {
    width: 300px;
  }
  #benvenuto {
    font-size: 25px;
  }
}

/* Stili per il menu laterale */
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 15vw;
  background-color: white;
  color: rgb(25, 21, 21);
  opacity: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid rgb(25, 21, 21);
}

#newChatButton {
  background-color: transparent;
  border: none;
  color: rgb(25, 21, 21);
  border: 1px solid rgb(25, 21, 21);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 5px;
}

#chatList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

#chatList li {
  background-color: white;
  opacity: 80%;
  color: rgb(25, 21, 21);
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(25, 21, 21);
}

#chatList li.active {
  background-color: rgb(25, 21, 21);
  color: white;
}

/* Stili per il contenitore della chat */
#chatContainerWrapper {
  margin-left: 15vw;
  width: 85vw;
  flex: 1;
  height: 100vh;
  overflow: scroll;

  display: flex;
  flex-direction: column;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#chat_container {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}
